<div class="main-content mt-3 ">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-header">
            <span>Ratings</span>
          </div>
          <div class="card-body">
            <button class="btn btn-rose">Add</button>
            <button class="btn btn-rose">View All</button>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <span>Sectors</span>
          </div>
          <div class="card-body">
            <button class="btn w-100 btn-rose">Add</button>
            <button class="btn w-100 btn-rose">View All</button>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <span>Targets</span>
          </div>
          <div class="card-body">
            <button class="btn w-100 btn-rose">Add</button>
            <button class="btn w-100 btn-rose">View All</button>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <div class="card-header">
            <span>Common Sequences</span>
          </div>
          <div class="card-body">
            <button class="btn w-100 btn-rose">Add</button>
            <button class="btn w-100 btn-rose">View All</button>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <span>Branch</span>
          </div>
          <div class="card-body">
            <button class="btn w-100 btn-rose">Add</button>
            <button class="btn w-100 btn-rose">View All</button>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <span>Main Nominal</span>
          </div>
          <div class="card-body">
            <button class="btn w-100 btn-rose">Add</button>
            <button class="btn w-100 btn-rose">View All</button>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <div class="card-header">
            <span>Nominal</span>
          </div>
          <div class="card-body">
            <button class="btn w-100 btn-rose">Add</button>
            <button class="btn w-100 btn-rose">View All</button>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <span>Account Types</span>
          </div>
          <div class="card-body">
            <button class="btn w-100 btn-rose">Add</button>
            <button class="btn w-100 btn-rose">View All</button>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <span>Customer Type</span>
          </div>
          <div class="card-body">
            <button class="btn w-100 btn-rose">Add</button>
            <button class="btn w-100 btn-rose">View All</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
