<div class="main-content mt-5">
  <div class="container-fluid">
    <div class="col mr-auto ml-auto">
      <!--      Wizard container        -->
      <div class="wizard-container">
        <div class="card card-wizard" data-color="rose" id="wizardProfile">
          <form [formGroup]="type" (ngSubmit)="onSubmit()">
            <!--        You can switch " data-color="primary" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->
            <div class="card-header text-center">
              <h3 class="card-title">
                Edit Individual Customer
              </h3>
              <!--<h5 class="card-description">This information will let us know more about you.</h5>-->
            </div>
            <div class="wizard-navigation">
              <ul class="nav nav-pills">
                <li class="nav-item">
                  <a class="nav-link active" href="#personalinfo" data-toggle="tab" role="tab">
                    Personal Information
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#nextofkin" data-toggle="tab" role="tab">
                    Next Of Kin
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#identification" data-toggle="tab" role="tab">
                    Picture And Identification
                  </a>
                </li>
              </ul>
            </div>
            <div class="card-body">
              <div class="tab-content">
                <div class="tab-pane active" id="personalinfo">
                  <!--<h5 class="info-text"> All fields marked  *  are required</h5>-->
                  <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-4 ">
                      <input type="hidden" name="CreatedUserId" formControlName="CreatedUserId">
                      <input type="hidden" name="CreatedDate" formControlName="CreatedDate">
                      <input type="hidden" name="IndividualCustId" formControlName="IndividualCustId">
                      <input type="hidden" name="CustomerNumber" formControlName="CustomerNumber">
                      <div class="input-group form-control-lg">
                        <mat-form-field class="example-full-width has-label w-100" [ngClass]="displayFieldCss(type, 'Title')">
                          <mat-label>Title</mat-label>
                          <mat-select [(ngModel)]="Individual['Title']" formControlName="Title" id="text" placeholder="Title" name="Title">
                            <mat-option *ngFor="let title of titles" [value]="title.value">
                              {{ title.text }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="input-group form-control-lg">
                        <mat-form-field class="example-full-width has-label w-100 " [ngClass]="displayFieldCss(type, 'FirstName')">
                          <mat-label>First Name</mat-label>
                          <input [(ngModel)]="Individual['FirstName']" type="text" name="FirstName" matInput id="text" placeholder="First Name" formControlName="FirstName">
                          <mat-error *ngIf="f.FirstName.errors">First Name is required
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="input-group form-control-lg">
                        <mat-form-field class="example-full-width has-label w-100" [ngClass]="displayFieldCss(type, 'LastName')">
                          <mat-label>Last Name</mat-label>
                          <input [(ngModel)]="Individual['LastName']" type="text" name="LastName" matInput id="text" placeholder="Last Name" formControlName="LastName">
                        </mat-form-field>
                      </div>
                      <div class="input-group form-control-lg">
                        <mat-form-field class="example-full-width has-label w-100" [ngClass]="displayFieldCss(type, 'OtherName')">
                          <mat-label>Other Names</mat-label>
                          <input [(ngModel)]="Individual['OtherName']" type="text" name="Othername" matInput id="text" placeholder="Other Names" formControlName="OtherName">
                        </mat-form-field>
                      </div>
                      <div class="input-group form-control-lg">
                        <mat-form-field class="example-full-width has-label w-100" [ngClass]="displayFieldCss(type, 'DateOfBirth')">
                          <mat-label>Date Of Birth</mat-label>
                          <input [(ngModel)]="Individual['DateOfBirth']" matInput [matDatepicker]="picker" placeholder="Date Of Birth" (click)="picker.open()" formControlName="DateOfBirth">
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="input-group form-control-lg">
                        <mat-form-field class="example-full-width has-label w-100" [ngClass]="displayFieldCss(type, 'MaritalStatus')">
                          <mat-label>Marital Status</mat-label>
                          <mat-select [(ngModel)]="Individual['MaritalStatus']" formControlName="MaritalStatus" id="text" placeholder="Marital Status" name="MaritalStatus">
                            <mat-option *ngFor="let mstatus of maritalStatus" [value]="mstatus.value">
                              {{ mstatus.text }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="input-group form-control-lg">
                        <mat-form-field class="example-full-width has-label w-100" [ngClass]="displayFieldCss(type, 'City')">
                          <mat-label>City</mat-label>
                          <input [(ngModel)]="Individual['City']" type="text" name="City" matInput id="text" placeholder="City" formControlName="City">
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                      <div class="input-group form-control-lg">
                        <mat-form-field class="example-full-width has-label w-100" [ngClass]="displayFieldCss(type, 'Gender')">
                          <mat-label>Gender</mat-label>
                          <mat-select [(ngModel)]="Individual['Gender']" formControlName="Gender" id="text" placeholder="Gender" name="Gender">
                            <mat-option *ngFor="let gender of genders" [value]="gender.value">
                              {{ gender.text }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="input-group form-control-lg">
                        <mat-form-field class="example-full-width has-label w-100" [ngClass]="displayFieldCss(type, 'Telephone')">
                          <mat-label>Telephone</mat-label>
                          <input [(ngModel)]="Individual['Telephone']" type="tel" name="Telephone" matInput id="text" placeholder="Telephone" formControlName="Telephone">
                        </mat-form-field>
                      </div>
                      <div class="input-group form-control-lg">
                        <mat-form-field class="example-full-width has-label w-100" [ngClass]="displayFieldCss(type, 'Mobile')">
                          <mat-label>Mobile</mat-label>
                          <input [(ngModel)]="Individual['Mobile']" type="text" name="Mobile" matInput id="text" placeholder="Mobile" formControlName="Mobile">
                        </mat-form-field>
                      </div>
                      <div class="input-group form-control-lg">
                        <mat-form-field class="example-full-width has-label w-100" [ngClass]="displayFieldCss(type, 'Email')">
                          <mat-label>Email</mat-label>
                          <input [(ngModel)]="Individual['Email']" matInput placeholder="Email" formControlName="Email" type="email" id="text" name="Email">
                        </mat-form-field>
                      </div>
                      <div class="input-group form-control-lg">
                        <mat-form-field class="example-full-width has-label w-100" [ngClass]="displayFieldCss(type, 'Occupation')">
                          <mat-label>Occupation</mat-label>
                          <input [(ngModel)]="Individual['Occupation']" matInput placeholder="Occupation" matInput id="text" formControlName="Occupation" type="text" id="text" name="Occupation">
                        </mat-form-field>
                      </div>
                      <div class="input-group form-control-lg">
                        <mat-form-field class="example-full-width has-label w-100" [ngClass]="displayFieldCss(type, 'HomeType')">
                          <mat-label>Home Type</mat-label>
                          <mat-select [(ngModel)]="Individual['HomeType']" formControlName="HomeType" id="text" placeholder="Home Type" name="HomeType">
                            <mat-option *ngFor="let htype of homeType" [value]="htype.value">
                              {{ htype.text }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="input-group form-control-lg">
                        <mat-form-field class="example-full-width has-label w-100" [ngClass]="displayFieldCss(type, 'NumberOfChildren')">
                          <mat-label>Number Of Children</mat-label>
                          <input [(ngModel)]="Individual['NumberOfChildren']" type="text" name="NumberOfChildren" matInput id="text" placeholder="Number Of Children" formControlName="NumberOfChildren">
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                      <div class="input-group form-control-lg">
                        <mat-form-field class="example-full-width has-label w-100" [ngClass]="displayFieldCss(type, 'CountryId')">
                          <mat-label>Country Of Origin</mat-label>
                          <mat-select [(ngModel)]="Individual['CountryId']" formControlName="CountryId" id="text" placeholder="Country Of Origin" name="CountryId">
                            <mat-option *ngFor="let country of countries" [value]="country.CountryId">
                              {{ country.Name }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="input-group form-control-lg">
                        <mat-form-field class="example-full-width has-label w-100" [ngClass]="displayFieldCss(type, 'PostalAddress')">
                          <mat-label>Postal Address</mat-label>
                          <input [(ngModel)]="Individual['PostalAddress']" matInput placeholder="Postal Address" formControlName="PostalAddress" type="text" id="text" name="PostalAddress">
                        </mat-form-field>
                      </div>
                      <div class="input-group form-control-lg">
                        <mat-form-field class="example-full-width has-label w-100" [ngClass]="displayFieldCss(type, 'PostCode')">
                          <mat-label>Post Code</mat-label>
                          <input [(ngModel)]="Individual['PostCode']" matInput placeholder="Post Code" formControlName="PostCode" type="text" id="text" name="PostCode">
                        </mat-form-field>
                      </div>
                      <div class="input-group form-control-lg">
                        <mat-form-field class="example-full-width has-label w-100" [ngClass]="displayFieldCss(type, 'HouseNumber')">
                          <mat-label>House Number</mat-label>
                          <input [(ngModel)]="Individual['HouseNumber']" matInput placeholder="House Number" formControlName="HouseNumber" type="text" id="text" name="HouseNumber">
                        </mat-form-field>
                      </div>
                      <div class="input-group form-control-lg">
                        <mat-form-field class="example-full-width has-label w-100" [ngClass]="displayFieldCss(type, 'Address')">
                          <mat-label>Address</mat-label>
                          <textarea [(ngModel)]="Individual['Address']" matInput placeholder="Address" formControlName="Address" type="text" id="text" name="Address"></textarea>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="nextofkin">
                  <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-4">
                      <div class="input-group form-control-lg">
                        <mat-form-field class="example-full-width has-label w-100" [ngClass]="displayFieldCss(type, 'MotherMaidenName')">
                          <mat-label>Mother's Maiden Name</mat-label>
                          <input [(ngModel)]="Individual['MotherMaidenName']" matInput placeholder="Mother's Maiden Name" formControlName="MotherMaidenName" type="text" id="text" name="MotherMaidenName">
                        </mat-form-field>
                      </div>
                      <div class="input-group form-control-lg">
                        <mat-form-field class="example-full-width has-label w-100" [ngClass]="displayFieldCss(type, 'MotherFirstName')">
                          <mat-label>Mother's First Name</mat-label>
                          <input [(ngModel)]="Individual['MotherFirstName']" matInput placeholder="Mother's First Name" formControlName="MotherFirstName" type="text" id="text" name="MotherFirstName">
                        </mat-form-field>
                      </div>
                      <div class="input-group form-control-lg">
                        <mat-form-field class="example-full-width has-label w-100" [ngClass]="displayFieldCss(type, 'MotherDateOfBirth')">
                          <mat-label>Mother's Date Of Birth</mat-label>
                          <input [(ngModel)]="Individual['MotherDateOfBirth']" matInput [matDatepicker]="mdpicker" placeholder="Mother's Date Of Birth" (click)="picker.open()" formControlName="MotherDateOfBirth">
                          <mat-datepicker-toggle matSuffix [for]="mdpicker"></mat-datepicker-toggle>
                          <mat-datepicker #mdpicker></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="input-group form-control-lg">
                        <mat-form-field class="example-full-width has-label w-100" [ngClass]="displayFieldCss(type, 'SpouseName')">
                          <mat-label>Spouse Surname</mat-label>
                          <input [(ngModel)]="Individual['SpouseName']" matInput placeholder="Spouse Surname" formControlName="SpouseName" type="text" id="text" name="SpouseName">
                        </mat-form-field>
                      </div>
                      <div class="input-group form-control-lg">
                        <mat-form-field class="example-full-width has-label w-100" [ngClass]="displayFieldCss(type, 'SpouseOtherName')">
                          <mat-label>Spouse Other Name</mat-label>
                          <input [(ngModel)]="Individual['SpouseOtherName']" matInput placeholder="Spouse Other Name" formControlName="SpouseOtherName" type="text" id="text" name="SpouseOtherName">
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                      <div class="input-group form-control-lg">
                        <mat-form-field class="example-full-width has-label w-100" [ngClass]="displayFieldCss(type, 'SpouseDateOfBirth')">
                          <mat-label>Spouse Date Of Birth</mat-label>
                          <input [(ngModel)]="Individual['SpouseDateOfBirth']" matInput [matDatepicker]="sdpicker" placeholder="Spouse Date Of Birth" (click)="sdpicker.open()" formControlName="SpouseDateOfBirth">
                          <mat-datepicker-toggle matSuffix [for]="sdpicker"></mat-datepicker-toggle>
                          <mat-datepicker #sdpicker></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="input-group form-control-lg">
                        <mat-form-field class="example-full-width has-label w-100" [ngClass]="displayFieldCss(type, 'KName')">
                          <mat-label>Name Of Next Of Kin</mat-label>
                          <input [(ngModel)]="Individual['KName']" matInput placeholder="Name Of Next Of Kin" formControlName="KName" type="text" id="text" name="KName">
                        </mat-form-field>
                      </div>
                      <div class="input-group form-control-lg">
                        <mat-form-field class="example-full-width has-label w-100" [ngClass]="displayFieldCss(type, 'KPhone')">
                          <mat-label>Next Of Kin Phone No</mat-label>
                          <input [(ngModel)]="Individual['KPhone']" matInput placeholder="Next Of Kin Phone No." formControlName="KPhone" type="text" id="text" name="KPhone">
                        </mat-form-field>
                      </div>
                      <div class="input-group form-control-lg">
                        <mat-form-field class="example-full-width has-label w-100" [ngClass]="displayFieldCss(type, 'OtherContact')">
                          <mat-label>Other Contact</mat-label>
                          <input [(ngModel)]="Individual['OtherContact']" matInput placeholder="Other Contact" formControlName="OtherContact" type="text" id="text" name="OtherContact">
                        </mat-form-field>
                      </div>
                      <div class="input-group form-control-lg">
                        <mat-form-field class="example-full-width has-label w-100" [ngClass]="displayFieldCss(type, 'SecurityGroup')">
                          <mat-label>Security Group</mat-label>
                          <mat-select [(ngModel)]="Individual['Title']" formControlName="SecurityGroup" id="text" placeholder="Security Group" name="SecurityGroup">
                            <mat-option *ngFor="let securityGroup of securityGroups" [value]="securityGroup.value">
                              {{ securityGroup.text }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                      <div class="input-group form-control-lg">
                        <mat-form-field class="example-full-width has-label w-100" [ngClass]="displayFieldCss(type, 'KRelation')">
                          <mat-label>Relationship</mat-label>
                          <input [(ngModel)]="Individual['KRelation']" matInput placeholder="Relationship" formControlName="KRelation" type="text" id="text" name="KRelation">
                        </mat-form-field>
                      </div>
                      <div class="input-group form-control-lg">
                        <mat-form-field class="example-full-width has-label w-100" [ngClass]="displayFieldCss(type, 'KEmail')">
                          <mat-label>Email</mat-label>
                          <input [(ngModel)]="Individual['KEmail']" matInput placeholder="Email" formControlName="KEmail" type="text" id="text" name="KEmail">
                        </mat-form-field>
                      </div>
                      <div class="input-group form-control-lg">
                        <mat-form-field class="example-full-width has-label w-100" [ngClass]="displayFieldCss(type, 'KAddress')">
                          <mat-label>Next Of Kin Address</mat-label>
                          <textarea [(ngModel)]="Individual['KAddress']" matInput placeholder="Next Of Kin Address" formControlName="KAddress" type="text" id="text" name="KAddress"></textarea>
                        </mat-form-field>
                      </div>
                      <div class="input-group form-control-lg">
                        <mat-form-field class="example-full-width has-label w-100" [ngClass]="displayFieldCss(type, 'Note')">
                          <mat-label>Note</mat-label>
                          <textarea [(ngModel)]="Individual['Note']" matInput placeholder="Note" formControlName="Note" type="text" id="text" name="Note"></textarea>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="identification">
                  <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-6 ">
                      <div class="input-group form-control-lg ">
                        <div class="picture-container ml-auto mr-auto">
                          <div class="picture">
                            <img src="./assets/img/default-avatar.png" class="picture-src" id="wizardPicturePreview" title="" />
                            <input formControlName="Picture" type="file" id="wizard-picture">
                          </div>
                          <h6 class="description">Choose Picture</h6>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <div class="input-group form-control-lg">
                        <div class="picture-container ml-auto mr-auto">
                          <div class="picture">
                            <img src="./assets/img/default-avatar.png" class="picture-src" id="wizardPicturePreview1" title="" />
                            <input formControlName="Signature" type="file" id="wizard-picture1">
                          </div>
                          <h6 class="description">Choose Signature</h6>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                      <div class="input-group form-control-lg">
                        <mat-form-field class="example-full-width has-label w-100" [ngClass]="displayFieldCss(type, 'IdVerified')">
                          <mat-label>Verified Identification</mat-label>
                          <input [(ngModel)]="Individual['IdVerified']" matInput placeholder="Verified Identification" formControlName="IdVerified" type="text" id="text" name="IdVerified">
                        </mat-form-field>
                      </div>
                      <div class="input-group form-control-lg">
                        <mat-form-field class="example-full-width has-label w-100" [ngClass]="displayFieldCss(type, 'IdDateIssued')">
                          <mat-label>Id Date Issued</mat-label>
                          <input [(ngModel)]="Individual['IdDateIssued']" matInput [matDatepicker]="idipicker" placeholder="Id Date Issued" (click)="idipicker.open()" formControlName="IdDateIssued">
                          <mat-datepicker-toggle matSuffix [for]="idipicker"></mat-datepicker-toggle>
                          <mat-datepicker #idipicker></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="input-group form-control-lg">
                        <mat-form-field class="example-full-width has-label w-100" [ngClass]="displayFieldCss(type, 'SSNumber')">
                          <mat-label>Social Security Number</mat-label>
                          <input [(ngModel)]="Individual['SSNumber']" matInput placeholder="Social Security Number" formControlName="SSNumber" type="text" id="text" name="SSNumber">
                        </mat-form-field>
                      </div>
                      <div class="input-group form-control-lg">
                        <mat-form-field class="example-full-width has-label w-100" [ngClass]="displayFieldCss(type, 'RatingId')">
                          <mat-label>Rating</mat-label>
                          <mat-select [(ngModel)]="Individual['RatingId']" formControlName="RatingId" id="text" placeholder="Rating" name="RatingId">
                            <mat-option *ngFor="let rating of ratings" [value]="rating.RatingId">
                              {{ rating.Type }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="input-group form-control-lg">
                        <mat-slide-toggle [(ngModel)]="Individual['BroadcastAlert']" formControlName="BroadcastAlert" class="example-margin" [color]="bcolor" [checked]="bchecked">
                          <span style="color:#000;">Broadcast Alert</span>
                        </mat-slide-toggle>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                      <div class="input-group form-control-lg">
                        <mat-form-field class="example-full-width has-label w-100" [ngClass]="displayFieldCss(type, 'IdNumber')">
                          <mat-label>Identification Number</mat-label>
                          <input [(ngModel)]="Individual['IdNumber']" matInput placeholder="Identification Number" formControlName="IdNumber" type="text" id="text" name="IdNumber">
                        </mat-form-field>
                      </div>
                      <div class="input-group form-control-lg">
                        <mat-form-field class="example-full-width has-label w-100" [ngClass]="displayFieldCss(type, 'IdDateExpire')">
                          <mat-label>Id Date Expiry</mat-label>
                          <input [(ngModel)]="Individual['IdDateExpire']" matInput [matDatepicker]="idepicker" placeholder="Id Date Expiry" (click)="idepicker.open()" formControlName="IdDateExpire">
                          <mat-datepicker-toggle matSuffix [for]="idepicker"></mat-datepicker-toggle>
                          <mat-datepicker #idepicker></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="input-group form-control-lg">
                        <mat-form-field class="example-full-width has-label w-100" [ngClass]="displayFieldCss(type, 'TinNumber')">
                          <mat-label>Tin Number</mat-label>
                          <input [(ngModel)]="Individual['TinNumber']" matInput placeholder="Tin Number" formControlName="TinNumber" type="text" id="text" name="TinNumber">
                        </mat-form-field>
                      </div>
                      <div class="input-group form-control-lg">
                        <mat-form-field class="example-full-width has-label w-100" [ngClass]="displayFieldCss(type, 'SectorId')">
                          <mat-label>Sector</mat-label>
                          <mat-select [(ngModel)]="Individual['SectorId']" formControlName="SectorId" id="text" placeholder="Sector" name="SectorId">
                            <mat-option *ngFor="let sector of sectors" [value]="sector.SectorId">
                              {{ sector.Type }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="input-group form-control-lg">
                        <mat-slide-toggle [(ngModel)]="Individual['SupportAlert']" formControlName="SupportAlert" class="example-margin" [color]="scolor" [checked]="schecked">
                          <span style="color:#000;">Support Alert</span>
                        </mat-slide-toggle>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                      <div class="input-group form-control-lg">
                        <mat-form-field class="example-full-width has-label w-100" [ngClass]="displayFieldCss(type, 'BiometricIdNumber')">
                          <mat-label>Biometric Id No</mat-label>
                          <input [(ngModel)]="Individual['BiometricIdNumber']" matInput placeholder="Biometric Id No." formControlName="BiometricIdNumber" type="text" id="text" name="BiometricIdNumber">
                        </mat-form-field>
                      </div>
                      <div class="input-group form-control-lg">
                        <mat-form-field class="example-full-width has-label w-100" [ngClass]="displayFieldCss(type, 'Status')">
                          <mat-label>Status</mat-label>
                          <mat-select [(ngModel)]="Individual['Status']" formControlName="Status" id="text" placeholder="Status" name="Status">
                            <mat-option *ngFor="let item of status" [value]="item.value">
                              {{ item.text }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="input-group form-control-lg">
                        <mat-form-field class="example-full-width has-label w-100" [ngClass]="displayFieldCss(type, 'TargetId')">
                          <mat-label>Target</mat-label>
                          <mat-select [(ngModel)]="Individual['TargetId']" formControlName="TargetId" id="text" placeholder="Target" name="TargetId">
                            <mat-option *ngFor="let target of targets" [value]="target.TargetId">
                              {{ target.Type }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="mr-auto">
                <input type="button" class="btn btn-previous btn-fill bg-dark btn-wd disabled" name="previous" value="Previous">
              </div>
              <div class="ml-auto">
                <input type="button" class="btn btn-next btn-fill bg-dark btn-wd" name="next" value="Next">
                <input type="submit" class="btn btn-finish btn-fill bg-dark btn-wd" name="finish" value="Update" style="display: none;">
              </div>
              <div class="clearfix"></div>
            </div>
          </form>
        </div>
      </div>
      <!-- wizard container -->
    </div>
  </div>
</div>
