<div class="main-content ">
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="card" >
              <div class="card-header">
                <div class="card-text bg-rose">
                  <h4 class="card-title">Add / View Customers</h4>
                </div>
              </div>
              <div class="card-body">
                <button routerLink="/customer/individual" class="btn btn-rose btn-block">Individual</button>
                <button routerLink="/customer/corporate" class="btn btn-rose btn-block">Corporate</button>
                <button routerLink="/customer/joint" class="btn btn-rose btn-block">Joint</button>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-header">
                <div class="card-text bg-rose">
                  <h4 class="card-title">Reports</h4>
                </div>
              </div>
              <div class="card-body">
                
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-header">
                <div class="card-text bg-rose">
                  <h4 class="card-title">Setup</h4>
                </div>
              </div>
              <div class="card-body">
               
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <div class="card-text bg-rose">
                  <h4 class="card-title">Enquiry</h4>
                </div>
              </div>
              <div class="card-body">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>